
*,
a::after,
a::before{
    margin: 0;
    padding: 0;
    /* color: rgb(2, 91, 163); */
    box-sizing: inherit;/* Inherts from body */
}

html{
    /* This defines what 1rem is;] */
    font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */

    /* @include respond(phone) {
        font-size: 50%; - (NOT REQUIRED AS TABLET BELOW IS THE SAME)
    } */
    
    @include respond(tab-land) { // width < 1200px?
        font-size: 56.25%; /* 1rem = 9px */
    }

    @include respond(tab-port) { // width < 900px?
        font-size: 50%;
        /* 1rem = 8px, 8/16 = 50% */
    }
    
    @include respond(big-desktop) {
        font-size: 75%; /* 1rem = 12, 12/18 = 75% */
    }
}

body{ 
    box-sizing: border-box;
}