.row {
    max-width: $grid-width;

    margin: 0 auto;

    //The below will be applied to all children of the .row class except the last child
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
                // width < 900px?
                margin-bottom: $gutter-vertical-small;
        }
    }

        @include respond(tab-port) {
            // width < 900px?
            max-width: 50rem;
            padding: 0 2rem;
        }

    @include clearfix;

    [class^="col-"] {
        float: left;

        //The below will be applied to all children of the .col-1of-2 class except the last child
        &:not(:last-child) {
                margin-right: $gutter-horizontal;

                @include respond(tab-port) {
                        // width < 900px?
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port) {
            // width < 900px?
            width: 100% !important;
        }


    }

    .col-1-of-2 {
        //The below will calculate the width of the column based on the grid width and the horizontal gutter deducted from the grid width
        width: calc((100% - #{$gutter-horizontal}) / 2);
        /* background-color: aquamarine; */

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-3 {
        //The below will calculate the width of the column based on the grid width and the horizontal gutter deducted from the grid width
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
        /* background-color: aquamarine; */
    }

    .col-2-of-3 {
        //The below will calculate the width of the column based on the grid width and the horizontal gutter deducted from the grid width
        width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
        /* background-color: aquamarine; */
    }

    .col-1-of-4 {
        //The below will calculate the width of the column based on the grid width and the horizontal gutter deducted from the grid width
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
        /* background-color: aquamarine; */
    }

    .col-2-of-4 {
        //The below will calculate the width of the column based on the grid width and the horizontal gutter deducted from the grid width
        width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
        /* background-color: aquamarine; */
    }

    .col-3-of-4 {
        //The below will calculate the width of the column based on the grid width and the horizontal gutter deducted from the grid width
        width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
        /* background-color: aquamarine; */
    }
}