
//COLORS
$color-primary: #2c7dbe;
$color-primary-light: #7dbcf0;
$color-primary-dark: #0a518b;

$color-secondary-light: #e3b4f4;
$color-secondary-dark: #aa26da;

$color-tertiary-light: #ff9797;
$color-tertiary-dark: #c30f0f;

$color-grey-light-1: #e9e7e7;
$color-grey-light-2: #ececec;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;



$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;